*{
  margin: 0;
  padding: 0;
}

section{
  display: flex;
  justify-content: center;
  margin: 15% auto;
}

input[type=text]{
  height: 20px;
  width: 300px;
}

img{
  height: 50px;
  width: 50px;
}